/* I created this file as an alternative for using inline styles in the generate report jsx file */
.container {
    padding: 30px;
    max-width: 700px;
    margin: 20px auto;
    background-color: #f5f9f6;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    color: #2E7D32;
    font-size: 24px;
  }
  
  .title2 {
    background-image: linear-gradient(green, purple);
    color: transparent;
    background-clip: text;
  }
  .h3color {
    background-image: linear-gradient(blue, green);
    color: transparent;
    background-clip: text;
  }
  
  .textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    resize: none;
  }
  
  .button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer ;
    margin-top: 15px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #388E3C;
  }
  
  .reportContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #E8F5E9;
    border-radius: 8px;
  }
  